:root{
    --fontebebas: 'Bebas Neue', sans-serif;
    --azul-escuro : #05001B;
    --branco : #FFFFFF;
    --preto : #000000;
    --cinza : #949494;
    --fonterobot: 'Roboto Condensed', sans-serif;
    --fontepoppins: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.cardContainer{
    display: flex;

    justify-content:  center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 0em;
    flex-wrap: wrap;
    gap: 3em;
}

@media screen and (max-width: 768px) {
    .cardContainer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;}

    .card {
        width: calc(33.33% - 1em); /* Calcula a largura para 3 cards por linha */
        margin-bottom: 1em; /* Adiciona margem inferior para espaçamento entre os cards */
    }
}

