
:root {
    --fontebebas: 'Bebas Neue', sans-serif;
    --azul-escuro: #05001B;
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #949494;
    --fonterobot: 'Roboto Condensed', sans-serif;
    --fontepoppins: 'Poppins', sans-serif;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}