:root{
    --fontebebas: 'Bebas Neue', sans-serif;
    --azul-escuro : #05001B;
    --branco : #FFFFFF;
    --preto : #000000;
    --cinza : #949494;
    --fonterobot: 'Roboto Condensed', sans-serif;
    --fontepoppins: 'Poppins', sans-serif;
}

.container {

    display: flex;
    

}
.box{
    padding: 0.5em 10em;
    margin-top: -5%;
    color: white;
    font-family: var(--fontebebas) 
}

.box h1:first-child {
    opacity: 50%;
    font-size: 4em;

}
.box h1:nth-child(2) {
    font-size: 8em;
    margin-top: -5rem; 
}

.box h2{
    margin-top: -7rem; 
}

.about {
    font-size: 130%;
    color: var(--cinza);;
    margin-top: -5em;
    margin-left: 10em;
    margin-left: 0em;
    
}

/* Media queries para telas menores */
@media (max-width: 768px) {
    .box {
        padding: 0.5em 2em; /* Padding reduzido */
        margin-top: 0; /* Removendo margem negativa */
        
        
    }

    .box h1:first-child,
    .box h1:nth-child(2),
    .box h2 {
        font-size: 2em; /* Tamanho de fonte menor */
        margin-top: 0.5em; /* Ajustando margens */
    }

    .about {
        font-size: 100%; /* Tamanho da fonte ajustado */
        margin: 0 1em; /* Ajustando margens */
    }

    /* Outros ajustes conforme necessário */
}

@media (max-width: 480px) {
    /* Ajustes para telas ainda menores */
}





